#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* navbar */

nav {
  color: white;
}
.text {
  color: white;
}

.text:hover {
  color: red;
}

/* lists */
.list {
  list-style: none;
  border: 1px solid;
  margin: 10px;
}

.game-imgs {
  height: 35%;
  width: 70%;
}

#review-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* reviews */

.btn {
  font-size: 1rem;
  margin: 10px;
  padding: 0 8px;
  background-color: lightgray
}

.btn:hover {
  background-color: lightgrey
}

/* review */ 

#review-info {
  border: 1px solid;
  margin-top: 30px;
  padding: 30px;
}

.img {
  height: auto;
  width: 60%;
  padding: 30px;
}

.review-body {
  margin: auto;
  width: 80%
}

.heart-emoji {
  font-size: 1.3rem;
}

.white-heart {
  color:white;
  padding: 5px
}

.red-heart {
  color: red;
  padding: 5px
}

.category {
  font-size: 0.9rem;
}

.err-message {
  color: rgb(238, 41, 41)
}

.upvote-btn {
  background-color: rgb(39, 153, 219);
  color: black
}

.upvote-btn:hover {
  background-color: rgb(16, 97, 151);
  color: white;
}
/* comments */

.comment-card {
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid rgb(55, 174, 243);
}

.title {
  font-size: 2rem;
  margin: 60px auto 40px;
}

.border {
  border: 1px solid rgb(55, 174, 243);
  padding: 30px
}

.comment-author {
  overflow-wrap: break-word;
}

.comment {
  font-size: 1.3rem;
}

#form {
  border: 1px solid rgb(55, 174, 243);;
}














@media only screen and (min-width: 680px) {
  .list {
    flex-basis: 40%;
  }
 }
 

@media only screen and (min-width: 950px) {
 .list {
   flex-basis: 30%;
 }
}
